@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 

:root {
 
--cor-de-fundo: #e8c5c5;
--rosa: #FF1B82;
--branco: #ffffff;
--botao-ativo: #f7c6df;
--botao-inativo: rgb(173, 82, 151);
--texto-fundo: rbga (58, 55, 94, 0.3);
}
.body {
    background-color: var(--cor-de-fundo);
    color: var(--branca);
    font-family: 'Playfair Display', sans-serif;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo principal{ 
   text-align: left;
   width: 100%;
   font-size: 26px;
}

.titulo-principal span{
    color: var(--rosa);
}

.botao{
    font-family: "Playfair Display", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 16px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid (var--botao-ativo);100%
    border-left: 4px solid (var--botao-ativo);100%
    border-right: 4px solid (var--botao-ativo);100%
    border-top: none;
}

.botoes{
    display: block;
}
@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
}